.about {
    margin: 80px 0 140px;
    display: flex;
    flex-direction: column;

    &__icon {
        font-size: 220px;
        &-container {
            background: $gradient-background;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 280px;
            height: 280px;
            &-2 {
                margin-top: 30px;
            }
        }
    }

    &__item-title {
        font-weight: bolder;
        display: block;
        font-size: 1.5rem;
        letter-spacing: 0.03em;
        line-height: 42px;
        &-1 {
            margin-top: 30px;
        }
        &-2 {
            margin-top: 100px;
        }
    }

    &__item-description {
        margin-top: 30px;
        letter-spacing: 0.06em;
        line-height: 28px;
        color: #777777;
    }

    &__divider {
        margin-top: 116px;
    }
}