.about {
    display: flex;
    flex-direction: column;

    margin: 80px 0 140px;

    &__icon {
        font-size: 220px;

        &-container {
            display: flex;
            align-items: center;
            justify-content: center;

            margin: auto;
            height: 280px;
            width: 280px;

            background: $gradient-background;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;

            &-2 {
                margin-top: 30px;
            }
        }
    }

    &__item-title {
        display: block;

        line-height: 42px;
        font-size: 1.5rem;
        font-weight: bolder;
        letter-spacing: 0.03em;

        &-1 {
            margin-top: 30px;
        }
        &-2 {
            margin-top: 100px;
        }
    }

    &__item-description {
        margin-top: 30px;
        
        color: #777777;

        line-height: 28px;
        letter-spacing: 0.06em;
    }

    &__divider {
        margin-top: 116px;
    }
}