.about {
    display: flex;
    flex-direction: column;

    &__icon {
        font-size: 220px;

        &-container {
            display: flex;
            align-items: center;
            justify-content: center;

            margin: auto;
            height: 280px;
            width: 280px;

            background: $gradient-background;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;

            &-2 {
                margin-top: map-get($map: $spaces, $key: m);
            }
        }
    }

    &__item {

        &-2 {
            margin-top: map-get($map: $spaces, $key: l);
        }

        &-title {
            display: block;
    
            line-height: 42px;
            font-size: 1.5rem;
            font-weight: bolder;
            letter-spacing: 0.03em;
    
            &-1 {
                margin-top: map-get($map: $spaces, $key: m);
            }
        }

        &-description {
            margin-top: map-get($map: $spaces, $key: s);
            
            color: #777777;
    
            line-height: 28px;
            letter-spacing: 0.06em;
        }
    }

    &__divider {
        margin-top: map-get($map: $spaces, $key: l);
    }
}