.blog {
    background-color: #fff;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 100px 20px;

        text-align: center;
    }

    &__title {
        font-size: 28px;
    }

    &__description {
        margin-top: 20px;

        color: #777777;

        line-height: 28px;
        font-size: 15px;
    }

    &__entries {
        margin-top: 35px;
    }

    &__entry {
        margin-top: 30px;

        &:first-child {
            margin-top: 0;
        }
    }
}

.entry {
    &__photo {
        max-width: 100%;

        border-radius: 20px;
    }

    &__title {
        margin-top: 30px;
    }

    &__description {
        margin-top: 30px;
        
        color: #777;

        line-height: 26px;
        font-size: 13px;
    }

    &__button {
        display: inline-block;
        
        margin-top: 30px;
    }
}