.blog {
    background-color: #fff;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &__title {
        font-size: 28px;
    }

    &__description {
        margin-top: map-get($map: $spaces, $key: m);

        color: #777777;

        line-height: 28px;
        font-size: 15px;
    }

    &__items {
        display: grid;
        grid-gap: map-get($map: $spaces, $key: m);

        margin-top: map-get($map: $spaces, $key: l);
    }

    @media (min-width: 768px) {
        &__items {
            grid-template-columns: 1fr 1fr;
        }
    }
}

.entry {
    &__photo {
        max-width: 100%;

        border-radius: 20px;
    }

    &__title {
        margin-top: map-get($map: $spaces, $key: s);
    }

    &__description {
        margin-top: map-get($map: $spaces, $key: xs);
        
        color: #777;

        line-height: 26px;
        font-size: 13px;
    }

    &__button {
        display: inline-block;
        
        margin-top: map-get($map: $spaces, $key: s);
    }
}