.blog {
    background-color: #fff;
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 100px 20px;
    }

    &__title {
        font-size: 28px;
    }

    &__description {
        margin-top: 20px;
        font-size: 15px;
        line-height: 28px;
        color: #777777;
    }

    &__entries {
        margin-top: 35px;
    }

    &__entry {
        margin-top: 30px;

        &:first-child {
            margin-top: 0;
        }
    }
}

.entry {
    &__photo {
        max-width: 100%;
        border-radius: 20px;
    }

    &__title {
        margin-top: 30px;
    }

    &__description {
        font-size: 13px;
        color: #777;
        margin-top: 30px;
        line-height: 26px;
    }

    &__button {
        margin-top: 30px;
        display: inline-block;
    }
}