.contact {
    background-color: #f2f2fe;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 160px 20px;
        
        text-align: center;
    }

    &__title {
        font-size: 28px;
    }

    &__description {
        margin-top: 20px;
        
        color: #777;

        line-height: 28px;
        font-size: 15px;
        letter-spacing: 1px;
    }

    &__form {
        margin-top: 30px;
        width: 100%;

        text-align: left;
    }
}

.form {
    * {
        margin-top: 25px;

        border: none;
        border-radius: 30px;
        outline: none;
    }

    &__inputs {
        display: flex;
        flex-direction: column;

        margin: 0;
        width: 100%;
        
        * {
            padding: 16px 25px;
            
            color: #212529;

            font-size: 14px;
            font-family: inherit;

            &:first-child {
                margin-top: 0;
            }
        }
    }

    &__submit {
        font-size: 13px;
    }
}