$colors: (
    primary: #8261ee,
    secondary: #ff589e,
    white: #ffffff,
    light-grey: #f2f2fe,
    gradient-left: rgba(167, 89, 209, .95),
    gradient-right: rgba(130, 97, 238, .95)
);

$text-colors: (
    white: map-get($map: $colors, $key: white),
    grey: #777777,
    black: #2e2e2e
);

$spaces: (
    xs: 7px,
    s: 15px,
    m: 25px,
    l: 50px,
    xl: 100px
);

$gradient-background: linear-gradient(135deg, map-get($colors, gradient-left), map-get($colors, gradient-right));

$hamburger-animation-time: .5s;

$max-width: calc(100vw - 2 * #{map-get($map: $spaces, $key: s)});

@mixin background-overlay {
    position: relative;

    &__container {
        z-index: 1;
    }

    &::before {
        content: '';

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: $gradient-background;
    }
}