$colors: (
    primary: #8261ee,
    secondary: #ff589e,
    white: #ffffff,
    light-grey: #f2f2fe,
    gradient-left: rgba(167, 89, 209, .95),
    gradient-right: rgba(130, 97, 238, .95)
);

$text-colors: (
    white: map-get($map: $colors, $key: white),
    grey: #777777,
    black: #2e2e2e
);

$hamburger-animation-time: .5s;
$gradient-background: linear-gradient(135deg, map-get($colors, gradient-left), map-get($colors, gradient-right));

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

.btn {
    font-size: 0.8rem;
    text-transform: uppercase;
    text-decoration: none;
    color: map-get($colors, white);
    padding: 12px 20px;
    border-radius: 20px;

    &--primary {
        background-color: map-get($colors, secondary);
    }

    &--secondary {
        background-color: map-get($colors, primary);
    }
}