.contact {
    background-color: #f2f2fe;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 160px 15px;
    }

    &__title {
        font-size: 28px;
    }

    &__description {
        margin-top: 20px;
        font-size: 15px;
        line-height: 28px;
        color: #777;
        letter-spacing: 1px;
    }

    &__form {
        margin-top: 30px;
    }
}