.contact {
    background-color: #f2f2fe;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &__title {
        font-size: 28px;
    }

    &__description {
        margin-top: map-get($map: $spaces, $key: m);
        
        color: #777;

        line-height: 28px;
        font-size: 15px;
        letter-spacing: 1px;
    }

    &__form {
        margin-top: map-get($map: $spaces, $key: l);
        width: 100%;

        text-align: left;
    }
}

.form {
    * {
        margin-top: map-get($map: $spaces, $key: m);

        border: none;
        border-radius: 30px;
        outline: none;

        &:first-child {
            margin-top: 0;
        }
    }

    &__inputs {
        display: flex;
        flex-direction: column;

        width: 100%;
        
        * {
            padding: map-get($map: $spaces, $key: s) map-get($map: $spaces, $key: m);
            
            color: #212529;

            font-size: 14px;
            font-family: inherit;

            &:first-child {
                margin-top: 0;
            }
        }
    }

    &__submit {
        font-size: 13px;
    }
}