.features {
    margin-top: 100px;
    
    &__item {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        letter-spacing: 0.03em;
        border-radius: 10%;
        box-shadow: 0 2px 48px 0 rgba(0, 0, 0, .1);
        &:first-child {
            margin-top: 0;
        }
    }

    &__icon {
        font-size: 42px;
        color: white;

        &-container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 90px;
            height: 90px;
            background-color: map-get($colors, primary);
            border-radius: 50%;
        }
    }

    &__item-title {
        font-size: 18px;
        margin-top: 30px;
    }

    &__item-description {
        font-size: 13px;
        line-height: 2em;
        margin-top: 15px;
    }
}