.features {
    
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: map-get($map: $spaces, $key: m);
        margin-top: map-get($map: $spaces, $key: l);
        
        box-shadow: 0 2px 48px 0 rgba(0, 0, 0, .1);
        border-radius: 10%;

        text-align: center;
        letter-spacing: 0.03em;

        &:first-child {
            margin-top: 0;
        }
    }

    &__icon {
        color: white;

        font-size: 42px;

        &-container {
            display: flex;
            align-items: center;
            justify-content: center;

            height: 90px;
            width: 90px;

            background-color: map-get($colors, primary);
            border-radius: 50%;
        }
    }

    &__item-title {
        margin-top: map-get($map: $spaces, $key: s);
        
        font-size: 18px;
    }

    &__item-description {
        margin-top: map-get($map: $spaces, $key: xs);
        
        line-height: 2em;
        font-size: 13px;
    }
}