.features {

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        letter-spacing: 0.03em;
    }

    &__icon {
        font-size: 42px;
        color: white;
        // border-radius: 100px;

        &-container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 90px;
            height: 90px;
            background-color: map-get($colors, primary);
            border-radius: 90px;
        }
    }

    &__item-title {
        font-size: 18px;
        margin-top: 30px;
    }

    &__item-description {
        font-size: 13px;
        line-height: 2em;
        margin-top: 15px;
    }
}