.footer {
    background: $gradient-background;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        padding: map-get($map: $spaces, $key: m) 0;
        
        color: white;
    }

    &__media {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        max-width: 320px;
    }

    &__divider {
        margin-top: map-get($map: $spaces, $key: m);
        width: 100%;

        border: .5px solid rgba(211, 211, 211, 0.3);
    }

    &__copyright {
        margin-top: map-get($map: $spaces, $key: m);

        line-height: 1.5;
        font-size: 12px;
        letter-spacing: 0.88px;
        text-transform: uppercase;
    }

    &__design {
        display: block;

        margin-top: map-get($map: $spaces, $key: xs);
    }

    @media (min-width: 768px) {
        &__design {
            display: inline;

            &::before {
                content: " - ";
            }
        }
    }
}

.media {
    &__icon {
        margin: map-get($map: $spaces, $key: xs) map-get($map: $spaces, $key: s);
        
        font-size: 36px;
    }
}