.footer {
    background: $gradient-background;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        padding: map-get($map: $spaces, $key: s) 0;
        
        color: white;
    }

    &__media {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        max-width: 320px;
    }

    &__divider {
        margin-top: 30px;
        width: 100%;

        border: .5px solid rgba(211, 211, 211, 0.3);
    }

    &__copyright {
        margin-top: 30px;

        line-height: 1.5;
        font-size: 12px;
        letter-spacing: 0.88px;
        text-transform: uppercase;
    }
}

.media {
    &__icon {
        margin: 5px 15px;
        
        font-size: 36px;
    }
}