.footer {
    background: $gradient-background;
    &__container {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 30px 15px;
        color: white;
    }

    &__divider {
        margin-top: 30px;
        border: .5px solid rgba(211, 211, 211, 0.3);
    }

    &__copyright {
        margin-top: 30px;
        font-size: 12px;
        text-transform: uppercase;
        line-height: 1.5;
        letter-spacing: 0.88px;
    }
}