.container {
    padding: map-get($map: $spaces, $key: xl) 0;
}

.section {
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}