.nav {
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 30px;
    right: 15px;
    left: 15px;
    background-color: white;
    border-radius: 40px;

    &__mini {
        display: flex;
        justify-content: space-between;
        height: 80px;
        width: calc(100% - 45px);
    }
}

.logo {
    display: flex;
    align-items: center;
}

.hamburger {
    padding: 10px;
    display: inline-block;
    background: transparent;
    outline: none;
    border: 0;
    margin: 0;

    &__box {
        height: 30px;
        width: 32px;
        display: inline-block;
        position: relative;
    }

    @mixin hamburger-line {
        width: 100%;
        height: 2px;
        background-color: #3B566E;
        position: absolute;
    }

    &__inner {
        @include hamburger-line();

        left: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: background-color $hamburger-animation-time;

        &::before,
        &::after {
            @include hamburger-line();

            content: '';
            width: 75%;
            left: 0;
            transition: transform $hamburger-animation-time, width $hamburger-animation-time;
        }

        &::before {
            top: -10px;
        }
        &::after {
            top: 10px;
        }
    }

    &--active &__inner {
        background-color: transparent;
    }

    &--active &__inner::before {
        width: 100%;
        transform: translateY(10px) rotate(45deg);
    }

    &--active &__inner::after {
        width: 100%;
        transform: translateY(-10px) rotate(-45deg);
    }
}

.navigation {
    font-size: 13px;
    letter-spacing: 0.07em;
    display: none;
    width: 100%;

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid #eee;
        width: 100%;
        height: 50px;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #3B566E;
        width: 100%;
        height: 100%;
    }
}

.navigation--active {

}