.hamburger {
    padding: 10px;
    display: inline-block;
    background: transparent;
    border: 0;
    margin: 0;

    &__box {
        height: 30px;
        width: 40px;
        display: inline-block;
        position: relative;
    }

    @mixin hamburger-line {
        width: 100%;
        height: 3px;
        background-color: #000;
        position: absolute;
    }

    &__inner {
        @include hamburger-line();

        left: 0;
        top: 50%;
        transform: translateY(-50%);

        &::before,
        &::after {
            @include hamburger-line();

            content: '';
            left: 0;
        }

        &::before {
            top: -10px;
        }
        &::after {
            top: 10px;
        }
    }
}