.hamburger {
    padding: 10px;
    display: inline-block;
    background: transparent;
    outline: none;
    border: 0;
    margin: 0;

    &__box {
        height: 30px;
        width: 32px;
        display: inline-block;
        position: relative;
    }

    @mixin hamburger-line {
        width: 100%;
        height: 2px;
        background-color: #000;
        position: absolute;
    }

    &__inner {
        @include hamburger-line();

        left: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: background-color $hamburger-animation-time;

        &::before,
        &::after {
            @include hamburger-line();

            content: '';
            width: 75%;
            left: 0;
            transition: transform $hamburger-animation-time, width $hamburger-animation-time;
        }

        &::before {
            top: -10px;
        }
        &::after {
            top: 10px;
        }
    }

    &--active &__inner {
        background-color: transparent;
    }

    &--active &__inner::before {
        width: 100%;
        transform: translateY(10px) rotate(45deg);
    }

    &--active &__inner::after {
        width: 100%;
        transform: translateY(-10px) rotate(-45deg);
    }
}

.nav {
    display: flex;
    justify-content: center;

    height: 80px;
    border-radius: 40px;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 80%;
    }

    &__menu {
        display: none;
    }
}

.logo {
    display: flex;
    align-items: center;
}