.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 30px;
    right: 15px;
    left: 15px;
    z-index: 1;

    background-color: white;
    border-radius: 40px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);

    &__mini {
        display: flex;
        justify-content: space-between;

        height: 80px;
        width: calc(100% - 45px);
    }
}

.logo {
    display: flex;
    align-items: center;
}

.hamburger {
    display: inline-block;

    padding: 10px;
    margin: 0;

    background: transparent;
    border: 0;
    outline: none;

    &__box {
        display: inline-block;
        position: relative;

        height: 30px;
        width: 32px;
    }

    @mixin hamburger-line {
        position: absolute;

        height: 2px;
        width: 100%;

        background-color: #3B566E;
    }

    &__inner {
        @include hamburger-line();

        top: 50%;
        left: 0;
        transform: translateY(-50%);

        transition: background-color $hamburger-animation-time;

        &::before,
        &::after {
            @include hamburger-line();

            content: '';

            width: 75%;
            left: 0;

            transition: transform $hamburger-animation-time, width $hamburger-animation-time;
        }

        &::before {
            top: -10px;
        }
        &::after {
            top: 10px;
        }
    }

    &--active &__inner {
        background-color: transparent;
    }

    &--active &__inner::before {
        width: 100%;

        transform: translateY(10px) rotate(45deg);
    }

    &--active &__inner::after {
        width: 100%;

        transform: translateY(-10px) rotate(-45deg);
    }
}

.navigation {
    display: none;

    width: 100%;

    font-size: 13px;
    letter-spacing: 0.07em;

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100%;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 50px;
        width: 100%;

        border-top: 1px solid #eee;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 100%;
        width: 100%;

        color: #3B566E;
    }
}