.pricing {
    background-color: #f2f2fe;

    &__container {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    &__title {
        color: #1e1e1e;

        line-height: 38px;
        font-size: 28px;
        letter-spacing: 1.75px;
    }

    &__description {
        margin-top: map-get($map: $spaces, $key: m);

        color: #777777;

        line-height: 28px;
        letter-spacing: 1px;
    }

    &__package {    
        padding: map-get($map: $spaces, $key: m);
        margin-top: 50px;

        background: #fff;   
        border-radius: 20px;
        box-shadow: 0 2px 48px 0 rgba(0, 0, 0, .1);
    }
}

.package {
    &__container {
        margin-top: map-get($map: $spaces, $key: l);
    }

    &__title {
        color: #1e1e1e;

        font-size: 17px;
    }

    &__payment {
        display: inline-block;

        padding: map-get($map: $spaces, $key: m);
        margin-top: map-get($map: $spaces, $key: m);
        width: 100%;

        background: map-get($map: $colors, $key: primary);
        color: white;
        border-radius: 20px;
    }

    &__features {
        margin-top: map-get($map: $spaces, $key: m);

        &__item {
            margin-top: map-get($map: $spaces, $key: s);

            color: #7a7a7a;

            font-size: 13px;

            &:first-child {
                margin-top: 0;
            }

            &:nth-last-child(-n+3) {
                text-decoration: line-through;
            }
        }
    }

    &__button {
        display: inline-block;

        margin-top: map-get($map: $spaces, $key: m);
    }

    &--premium {
        & > .package__payment {
            background: map-get($map: $colors, $key: secondary);
        }

        & .package__features__item:nth-last-child(3) {
            text-decoration: none;
        }
    }

    &--advanced {
        & .package__features__item {
            text-decoration: none;
        }
    }
}

.payment {
    &__currency {
        font-size: 32px;
    }

    &__value {
        font-size: 28px;
    }

    &__frequency {
        display: block;

        margin-top: 7px;
        
        font-size: 14px;
        letter-spacing: 0.88px;
    }
}