.statistics {
    @include background-overlay;

    color: white;
    background: url("../images/statistics_image.jpg") center;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: map-get($map: $spaces, $key: l);

        &:first-child {
            margin-top: 0;
        }
    }

    &__number {
        font-size: 36px;
    }

    &__description {
        margin-top: map-get($map: $spaces, $key: xs);
        
        font-size: 17px;
    }
}