.testimonials {
    &__container {
        display: flex;
        flex-direction: column;

        text-align: center;
    }

    &__title {
        font-size: 28px;
        font-weight: 500;
        letter-spacing: 1.75px;
    }

    &__description {
        margin-top: map-get($map: $spaces, $key: m);

        color: map-get($map: $text-colors, $key: grey);

        line-height: 28px;
    }

    &__items {
        display: grid;
        grid-gap: map-get($map: $spaces, $key: m);

        margin-top: map-get($map: $spaces, $key: l);
    }

    &__item {
        padding: map-get($map: $spaces, $key: m);
        
        border-radius: 20px;
        box-shadow: 0 2px 48px 0 rgba(0, 0, 0, .1);

        &:first-child {
            margin-top: 0;
        }
    }

    &__icon {
        font-size: 24px;

        &-container {
            display: flex;
            align-items: center;
            justify-content: center;

            margin: auto;
            height: 32px;
            width: 32px;

            background: $gradient-background;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }
    }

    &__content {
        margin-top: map-get($map: $spaces, $key: s);

        color: map-get($map: $text-colors, $key: grey);

        line-height: 26px;
        font-size: 15px;
        text-align: left;
    }

    &__attestant {
        display: flex;

        margin-top: map-get($map: $spaces, $key: s);
    }

    @media (min-width: 768px) {
        &__items {
            grid-template-columns: 1fr 1fr;
        }
    }
}

.attestant {
    &__photo {
        height: 60px;
        width: 60px;

        border-radius: 50%;
    }

    &__details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        margin-left: map-get($map: $spaces, $key: s);
        width: 100%;
    }

    &__name {
        font-size: 17px;
        font-weight: 400;
    }

    &__title {
        margin-top: map-get($map: $spaces, $key: xs);

        color: map-get($map: $colors, $key: secondary);
        
        font-size: 15px;
    }
}
