.testimonials {
    &__container {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 110px 0;
    }

    &__title {
        font-weight: 500;
        font-size: 28px;
        letter-spacing: 1.75px;
    }

    &__description {
        color: map-get($map: $text-colors, $key: grey);
        line-height: 28px;
        margin-top: 20px;
    }

    &__items {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 30px;
    }

    &__item {
        border-radius: 20px;
        box-shadow: 0 2px 48px 0 rgba(0, 0, 0, .1);
    }

    &__icon {
        font-size: 24px;
        &-container {
            background: $gradient-background;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
        }
    }

    &__content {
        margin-top: 20px;
        color: map-get($map: $text-colors, $key: grey);
        font-size: 15px;
        line-height: 26px;
        text-align: left;
    }

    &__attestant {
        margin-top: 20px;
        display: flex;
    }
}

.attestant {
    &__photo {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }

    &__details {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: 20px;
    }

    &__name {
        font-size: 17px;
        font-weight: 400;
    }

    &__title {
        font-size: 15px;
        margin-top: 5px;
        color: map-get($map: $colors, $key: secondary);
    }
}
