.testimonials {
    &__container {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 110px 0;
    }

    &__title {
        font-weight: 500;
        font-size: 28px;
        letter-spacing: 1.75px;
    }

    &__description {
        color: map-get($map: $text-colors, $key: grey);
        line-height: 28px;
        margin-top: 20px;
    }
}