.welcome {
    @include background-overlay;

    height: 100vh;

    background: url("../images/welcome_image.jpg") center;

    color: white;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__title {
        text-align: center;

        font-weight: normal;
        letter-spacing: 0.06em;
    }

    &__subtitle {
        margin-top: map-get($map: $spaces, $key: s);

        text-align: center;
        line-height: 1.6em;
        font-size: 0.9em;
    }

    &__strong {
        display: block;

        font-weight: bolder;
    }

    &__btn {
        margin-top: map-get($map: $spaces, $key: s);
    }

    &::after {
        content: '';
        
        position: absolute;
        bottom: 0;
        left: 0;

        height: 75px;
        width: 100%;

        background: url("../images/welcome_divider.svg") no-repeat center;
        background-size: 100% 100%;
    }
}

@media (min-width: 768px) {
    .welcome {
        
        &__title {
            width: 390px;
        }

        &__strong {
            display: inline;

            &::before {
                content: "\A";
            }
        }
    }
}

@media (min-height: 600px) {
    .welcome {

        &__subtitle {
            margin-top: map-get($map: $spaces, $key: m);
        }

        &__btn {
            margin-top: map-get($map: $spaces, $key: m);
        }

        &::after {
            height: 100px;
        }
    }
}