.welcome {
    height: 100vh;

    background: url("../images/welcome_image.jpg") center;

    color: white;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;

        background: $gradient-background;
    }

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;

        font-weight: normal;
        letter-spacing: 0.06em;
    }

    &__subtitle {
        margin-top: 30px;

        text-align: center;
        line-height: 1.6em;
        font-size: 0.9em;
    }

    &__strong {
        font-weight: bolder;
    }

    &__btn {
        margin-top: 30px;
    }

    &::after {
        content: '';
        
        position: absolute;
        bottom: 0;
        left: 0;

        height: 100px;
        width: 100%;

        background: url("../images/welcome_divider.svg") no-repeat center;
    }

    @media (min-width: 1440px) {
        &::after {
            background-size: 100% 100%;
        }
    }
}