.welcome {
    color: white;
    background: url("../images/welcome_image.jpg") center;
    height: 100vh;

    &__container {
        background: $gradient-background;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__title {
        letter-spacing: 0.06em;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: normal;
    }

    &__subtitle {
        margin-top: 30px;
        font-size: 0.9em;
        line-height: 1.6em;
        text-align: center;
    }

    &__strong {
        font-weight: bolder;
    }

    &__btn {
        margin-top: 30px;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 100px;
        width: 100%;
        background: url("../images/welcome_divider.svg") no-repeat center;
    }

    @media (min-width: 1440px) {
        &::after {
            background-size: 100% 100%;
        }
    }
}