.work-process {
    background: url("../images/work-process_image.jpg") center;
    color: white;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        background: $gradient-background;
    }

    &__title {
        font-size: 28px;
        letter-spacing: 0.06em;
    }

    &__description {
        margin-top: 30px;

        line-height: 1.6em;
        font-size: 15px;
    }

    &__items {
        display: grid;
        grid-template-columns: 45% 45%;
        grid-gap: 30px;
        
        margin-top: 40px;
    }

    &__item {
        display: flex;
        flex-direction: column;

        background: map-get($colors, white);
        box-shadow: 10px 10px 0 rgba(175, 146, 226, 0.58);
        border-radius: 20px;

        &-title {
            margin-top: 20px;
            
            color: map-get($text-colors, black);
            
            font-size: 17px;
        }
        &-description {
            margin-top: 5px;
            
            color: map-get($text-colors, grey);

            line-height: 1.5em;
            font-size: 14px;
        }
    }

    &__icon {
        font-size: 24px;

        &-container {
            display: flex;
            align-items: center;
            justify-content: center;

            margin: auto;
            height: 32px;
            width: 32px;
            
            background: $gradient-background;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }
    }
}