@import 'config';
@import 'grid';
@import 'nav';
@import 'welcome';
@import 'features';
@import 'about';
@import 'work-process';
@import 'testimonials';
@import 'pricing';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', 'sans-serif';
}

.img-hide {
    display: none;
}