@import 'config';
@import 'grid';
@import 'nav';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

.attestant__photo {
    display: none;
}

.img-hide {
    display: none;
}